body{
    font-family: "Space Grotesk", sans-serif;
    /* background-image: url(/images/Desktop.png); */
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}
.testimonial-card {
    background-color: rgba(255, 255, 255, 0.05); /* Subtle background */
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
/* ----------------header------------ */
.font-header{
    font-size: 60px;
}

/* -------card section------ */
.services-button ,.working-card {
    background-color: #B9FF66;
}
.learn{
    color: #B9FF66;
}
.descripton-box{
    background-color: #191A23;
}
.first-card{
    background-color: #B9FF66;
    max-width: max-content;
    margin: 0px;
    padding: 4px;
}
.firstcard-container{
    margin-left: 3rem;
    margin-top: 2rem;
}
.second-card{
    background-color: #efefef;
    max-width: max-content;
    margin: 0px;
    padding: 4px;
}
.secondcard-container{
    background-color: #B9FF66;
}
.learn-more{
    margin-top: 6rem;
    margin-left: 3rem;
}
.thirdcard-container{
    background-color: #191A23;
}
.svg{
    margin-top: -2rem;
    margin-right: 2rem;
}
.fourth-svg{
    margin-right: 3rem;
    margin-top: -4rem;
}
.third-card{
    background-color: #efefef;
    max-width: max-content;
    margin: 0px;
    padding: 4px;
}

/* ------------accordian section---------- */

:root {
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --body-color: #F3F3F3;
}
.working-process .accordion-item {
    border: 1px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    border-radius: 30px;
    overflow: hidden;
    /* padding: 20px; */
    background-color: var(--body-color);
}

.working-process .accordion-item .accordion-button {
    background-color: var(--body-color);
    padding: 20px 40px;
    border-bottom: 1px solid var(--secondary-color);
}

.working-process .accordion-item .accordion-collapse.collapse.show, .working-process .accordion-item .accordion-collapse.collapse.show {
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.working-process .accordion-item .accordion-button:not(.collapsed) {
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
    background-color: var(--primary-color) !important;
    box-shadow: none;
}

.working-process .accordion-item .accordion-button:focus {
    box-shadow: none;
}

.working-process .accordion-item .accordion-collapse .accordion-body {
    padding: 20px 40px;
}

.working-process .accordion-item .accordian-numbers {
    font-size: 44px;
    padding-right: 20px;
}

.accordion-button::after {
    background-image: none;
    font-family: "Font Awesome 6 Free";
    content: "\f068";
    height: 35px;
    width: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    background-color: var(--body-color);
    color: var(--secondary-color);
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f067"; 
}

.working-process .accordion-item .collapsing {
    transition: all 0.3s ease-in-out;
  }
/* testimonials */

/* ----------contact----------- */
.contact-color{
    background-color: #F3F3F3;
}

/*------------- footer -------- */
.footer-contact{
    max-width: max-content;
    
}
footer{
    margin-bottom: -10rem;
    background-color: #191A23;
}

  /* ----------------mobile screen---------------- */

@media screen and (max-width: 530px) {
    .font-header{
      font-size: 50px;
    }
    .services-button{
        max-width: min-content;
        margin-left: 10rem;
        margin-bottom: 1rem;
    }
    .porposal-image{
        display: none;
    }
    .porposal-card{
        margin-top: -2rem;
    }
    .learn-more-btn{
      display: none;
    }
    .svg{
        padding-left: 30px;
    }
    .header-image{
        padding-right: 10px;
        padding-top: 30px;
    }
    .working-font{
        margin-left: 20px;
    }
    .footer-contact{
        margin-left: 0rem;
    }

}
